<div class="posts-new-content">
  <div class="main">
    <div class="container">
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_tag("/posts/create") do %>
        <div class="form">
          <div class="form-title">
            <p class="form-notes1">タイトルを入力してください</p>
            <input class="form-input" name="title" type="text" placeholder="タイトル" />
          </div>
          <p class="form-notes2">mini blog</p>
          <div class="form-body">
            <textarea class="content" name="content"><%= @post.content %></textarea>
          </div>
          <div class="check_box">
            <p class="check_box_title">タグ</p>
            <%= collection_check_boxes(:posts, :tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class="round">
                <%= tag.check_box %>
                <%= tag.label do %>
                <% end %>
                <p class="check_box_txt"><%= tag.text %></p>
              </div>
            <% end %>
          </div>
          <input class="submit-btn" type="submit" value="投稿">
        </div>
      <% end %>
    </div>
  </div>
</div>
